body {
  background: #fff9e6; }

a {
  color: #0000ff; }

.jumbotron {
  background: #99ccff; }

.social-icon {
  width: 32px;
  height: 32px;
  padding: 5px; }

#about-body {
  font-size: 21px; }

#about-footer {
  margin-top: 10px;
  font-size: 17px; }
