body {
    background: #fff9e6;
}

a {
    // color: #1b4264;
    color: #0000ff;
}
.jumbotron {
    // background: #e6e6ff;
    background: #99ccff;
    // background: #cceeff;
}

.social-icon {
    width: 64px;
    height: 64px;
}

#about-body {
    font-size: 21px;
    
}

#about-footer {
    margin-top: 10px;
    font-size: 17px;
}